<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zwp.food.mapper.FoodCategoryMapper" >
  <resultMap id="BaseResultMap" type="zwp.food.pojo.FoodCategory" >
    <id column="food_category_key" property="foodCategoryKey" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifi_time" property="modifiTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    food_category_key, category_name, create_time, modifi_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zwp.food.pojo.FoodCategoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from food_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from food_category
    where food_category_key = #{foodCategoryKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from food_category
    where food_category_key = #{foodCategoryKey,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="zwp.food.pojo.FoodCategoryExample" >
    delete from food_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zwp.food.pojo.FoodCategory" >
    insert into food_category (food_category_key, category_name, create_time, 
      modifi_time)
    values (#{foodCategoryKey,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifiTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="zwp.food.pojo.FoodCategory" >
    insert into food_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodCategoryKey != null" >
        food_category_key,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifiTime != null" >
        modifi_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodCategoryKey != null" >
        #{foodCategoryKey,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiTime != null" >
        #{modifiTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zwp.food.pojo.FoodCategoryExample" resultType="java.lang.Integer" >
    select count(*) from food_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update food_category
    <set >
      <if test="record.foodCategoryKey != null" >
        food_category_key = #{record.foodCategoryKey,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryName != null" >
        category_name = #{record.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiTime != null" >
        modifi_time = #{record.modifiTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update food_category
    set food_category_key = #{record.foodCategoryKey,jdbcType=VARCHAR},
      category_name = #{record.categoryName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modifi_time = #{record.modifiTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zwp.food.pojo.FoodCategory" >
    update food_category
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiTime != null" >
        modifi_time = #{modifiTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where food_category_key = #{foodCategoryKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="zwp.food.pojo.FoodCategory" >
    update food_category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifi_time = #{modifiTime,jdbcType=TIMESTAMP}
    where food_category_key = #{foodCategoryKey,jdbcType=VARCHAR}
  </update>
</mapper>